body{
    background-color: rgb(34, 32, 32);
}

#top{
    background-color: rgb(255, 192, 203);
    padding: 2em;
    text-align: center;
    margin-top: 0px;
}

#middle{
    background-color: aliceblue;
    padding: 0.5em;
    margin: 2px 0 10px 0;
    text-align: center;
}

button{
    width: 100px;
}

#b1{
    margin-right: 25px;
}

#b2{
    margin-left: 25px;
}

#bottom{
    padding: 50px;
    text-align: center;
}

.box{
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    width: 110px;
    height: 110px;
    background-color: antiquewhite;
}

@media screen and (max-width:480px){
    button{
        width: 80px;
    }

    .box{
        display: inline-block;
        margin: 10px;
        border-radius: 5px;
        width: 60px;
        height: 60px;
        background-color: antiquewhite;
    }
}